<!DOCTYPE html> 
<html lang="en"> 
<head> 
  <meta charset="UTF-8"> 
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
  <title>ESTIMAUTO</title> 
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

</head> 
<body> 
  <header> 
    <div class="logo">ESTIMAUTO</div> 
    <div> 
      <ul class="links"> 
        <li><a href="#home">HOME</a></li>  
        <li><a href="#button1">ESTIMATION</a></li> 
        <li><a href="#HELP">HELP</a></li> 
        <li><a href="#CONTACT">CONTACT</a></li> 
      </ul> 
    </div> 
  </header> 
  <div class="main-text"> 
    <h1>ESTIMAUTO </h1> 
    <br>
    <p> Find the True Value : Your Vehicle, Your Price!</p> 
  </div> 
  <div class="logos"> 
    <div class="logos-slide" > 
      <img src="{{ url_for('static', filename='photo1.png') }}" alt="Image 1"> 
      <img src="{{ url_for('static', filename='photo2.png') }}" alt="Image 2"> 
      <img src="{{ url_for('static', filename='photo3.png') }}" alt="Image 3"> 
      <img src="{{ url_for('static', filename='photo4.png') }}" alt="Image 4"> 
      <img src="{{ url_for('static', filename='photo5.png') }}" alt="Image 5"> 
      <img src="{{ url_for('static', filename='photo6.png') }}" alt="Image 6"> 
      <img src="{{ url_for('static', filename='photo7.png') }}" alt="Image 7">

      
    </div> 
  </div> 

<div class="explanation">
    
    <h2 >Welcome to our vehicle price estimator</h2>
    <p>  your one-stop solution for quickly and accurately determining the value of any vehicle. <br> <br> Simply input key characteristics into our user-friendly form, and within moments, gain insight into the fair market price of your chosen vehicle</p>
   </div>


  <div class="gallary">
    <h1>your one-stop solution for quickly and accurately determining the value of any vehicle.</h1> 
 
    <div class="gallary-img"> 
        
      <div class="img1"> 
        <img src="{{ url_for('static', filename='7.jpg') }}" alt="" /> 
    </div> 
    
    <div class="img1"> 
        <img src="{{ url_for('static', filename='8.jpg') }}" alt="" /> 
    </div>
    
   
    </div> 
  </div>
<div class="explanation" id="button1">
     
    <p >
        At ESTIMAUTO, we offer a reliable and accurate evaluation for free. Enter your vehicle's information to receive your final selling price. Estimating your car online is easy!</p>

 
        <a href="/estim.html">
          <button class="button">START ESTIMATION</button>
      </a>
      

  
</div>  

  <footer >
    <section class="contact" id="contact"> 
        <div class="content-text"> 
          <h2>Leave us <span>your opinion </span></h2> 
          <p> 
           We are available 24/7  
          </p> 
          <p> 
            Frustrated by the complexities of car pricing, 
            At EstimeAuto, we empower car buyers and sellers with the knowledge of their vehicle's true value. 
              
          </p> 
         
        </div> 
     
        <div class="contact-form"> 
          <form action="#"> 
            <input type="name" placeholder="Name" required /> 
            <input type="number" placeholder="Phone" required /> 
            <input type="email" placeholder="Email" required /> 
            <textarea 
              name="" 
              id="" 
              cols="35" 
              rows="10" 
              placeholder="Message" 
            ></textarea> 
           <a href="opinion.html"><input type="submit" value="Send"  class="submit" required /> </a> 
          </form> 
        </div> 
      </section> 

    <div class="help" id="HELP">
      <h1>HELP</h1>
      <p class="paragraph">Track your activity</p>
      <p class="paragraph">Privacy Policy</p>
      <p class="paragraph">Accuracy Disclaimer</p>
      <p class="paragraph">Terms of Service</p>
      
      
    </div>
    <div class="about-us" id="CONTACT">
      <h1>Contact Us</h1>
      <p class="paragraph">+213093293909</p>
      <p class="paragraph">email@gmail.com</p>
      <p class="paragraph">Facebook</p>
      <p class="paragraph">Instagram</p>
      <p class="paragraph">Twitter</p>
      
      
    </div>
    </footer>

  
<a href="#" class="arrow" >
  <i><img src="{{ url_for('static', filename='bouton.png') }}" alt="" width="50px" /></i>

</a>

 


  



  
<script src="script.js"></script>
</body>

</html>




  <script>
    var copy = document.querySelector(".logos-slide").cloneNode(true);
    document.querySelector(".logos").appendChild(copy);
  </script>
  <script> 
    var copy = document.querySelector(".brands").cloneNode(true); 
    document.querySelector(".brand").appendChild(copy); 
  </script> 

</body> 


  


</html>